
- name: Deploying Ansible Playbook
  hosts: all

  vars:
    instance: %instance%

  tasks:

    - name: Set Hostname
      command: hostnamectl set-hostname ansible{{ instance }}

    - name: Copy generated hosts file
      copy:
        src: ./.cache/hosts
        dest: /etc/hosts
        owner: root
        group: root
        mode: '0644'

    - name: Install base packages
      package:
        name:
          - bash-completion
          - vim
        state: present

